.app-card {
    height: 85px;
    display: flex;
    align-items: center;
    border-top: 1px solid #494848;
}

.app-card:last-child {
    border-bottom: none;
}

.app-card:hover {
    background: #262626;;
}

.app-card>.icon {
    width: 50px;
    height: 50px;
    border-radius: 18px;
    margin-left: 12px;
    box-shadow: 0px 17px 43px -13px rgba(0,0,0,0.6);
}

.app-card>h1 {
    font-size:16px;
    margin: 0 14px 0 14px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}
