/*
    TODO: Add fonts to webpack bundling.  JIRA SERVICE-527.  Once completed we can remove this, 
    and reference to this css in the HTML.
*/
@font-face {
    font-family: Akkurat;
    src: url(../assets/Akkurat.ttf);
}

/*
    We are not handling the res directory correctly to allow webpacking assets to work, so this needs to go here for now.
*/
#header #exit {
    background-image: url("../assets/exit.png");
}
