@font-face {
    font-family: Akkurat;
    src: url(../assets/Akkurat.ttf);
}

:root {
    /*
        The standard left padding which everything is pushed over by.
    */
    --left-padding: 33px;
}

* {
    padding: 0px;
    margin: 0px;
    -webkit-user-select: none;
}

body {
    background: #000000;
    overflow: hidden;
    font-family: Akkurat;
}

h1 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.15px;
}

li {
    list-style: none;
}

/*
    Header
*/

#header {
    height: 92px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h1 {
    padding-left: var(--left-padding);
}

#header #exit {
    height: 20px;
    width: 20px;
    margin-right: 30px;
    background-image: url("img/exit.png");
    background-position: 50%;
    background-size: 9px 9px;
    background-repeat: no-repeat;
}

#header #exit:hover {
    background-color: #3e3d51;
    border-radius: 10px;
}

/*
    App list
*/

#app-list {
    width: 100%;
    height: 608px;
    color: white;
    background: #0a0a0a;
}

#app-list p {
    background: #303038;
    color: #5a5a63;
    height: 25px;
    width: 100%;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 19px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-left: var(--left-padding);
}

#app-list li {
    border-bottom: 1px solid #333333;
    display: flex;
    min-height: 85px;
    align-items: center;
    padding-left: var(--left-padding);
}

#app-list li:hover {
    background: #252637;
}

#app-list li .icon {
    width: 56px;
    height: 56px;
    border-radius: 6px;
}

#app-list li>h1 {
    margin-left: 18px;
}