.container {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        height: 28px;
        background: #3A3A3A;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 10px;
            margin-left: 8px;
            text-transform: capitalize;
        }

        .exit {
            height: 20px;
            width: 20px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                background-color: #313131;
                border-radius: 10px;
            }

            img {
                height: 40%;
                width: 40%;
            }
        }
    }

    .cancel {
        background: #313131;
        height: 42px;
        border-top: 1px solid #494848;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            color: #A3A0A0;
            background: #494848;

            h1 {
                color: white;
            }
        }

        h1 {
            color: #A3A0A0;
            font-size: 16px;
        }
    }
}